# docker-compose.yml
version: '3.8'

services:
  traefik:
    image: traefik:v3.4
    container_name: traefik
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefic.yaml:/etc/traefik/traefik.yaml:ro
      # - ./data/certs:/var/traefik/certs:rw
    networks:
      - web

  whoami:
    image: traefik/whoami
    container_name: whoami-app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.whoami.rule=Host(`localhost`)"
      - "traefik.http.routers.whoami.entrypoints=web"
      # Enable Coraza WAF for this service
      - "traefik.http.routers.whoami.middlewares=coraza-waf"
      - "traefik.http.middlewares.coraza-waf.plugin.traefik-coraza-waf.config=/etc/coraza/config.yaml"

    volumes:
      - ./coraza-config.yaml:/etc/coraza/config.yaml:ro
    networks:
      - web

networks:
  web:
    driver: bridge